.title{
    text-align: center;
    margin-bottom: 100px;
    color:white;
}
body{
    background-color: black;
}

.container{
    
    width: 90%;
    margin:auto;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    background-color: #000;
  }
   #piedra,#papel,#tijera{
     width:200px;
     height:200px;
    
     cursor:pointer
   }

   .fas  {
       font-size: 10rem;
   }

 .btn:hover{
     transition: all .5s;
    transform: rotate(1deg);
 }

 .contact{
     width:30%;
     margin:auto;
     
     margin-top:100px;
     display: flex;
     justify-content: space-around;
 }
 i{
     font-size: 4rem;
 }